<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.shuri.android.SDCardSender"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    
    <uses-library
        android:name="org.acra"
        android:required="true" />

</manifest>
